body,
div#page, 
div.featured-slides-callout,
article {
  background-color: #e6e6e6 !important;
  color: #000 !important;
}

h1, 
h1 a,
h2 {
  color: #000 !important;
}

a {
  color: #004f9d !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline !important;
}

code,
pre {
  background-color: #afafaf !important;
  color: #000 !important;
}
